* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'lato',sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
  padding: 30px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpgn);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.logoBox {
  position: absolute;
  top: 40px;
  left: 40px; }
  .logoBox .logo {
    height: 35px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .heading-primary .heading-primary-main {
    display: block;
    font-size: 60px;
    letter-spacing: 35px; }
  .heading-primary .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 15px; }
